* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

aside h1 {
    display: flex;
    size: 75px;
    text-indent: 10px;
    text-align: center;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-top: 15px;
    font-size: xx-large;
    font-weight: bolder;
}

aside a {
    display: flex;
    padding: 10px;
    text-align: center;
    text-indent: 30px;
    text-decoration: none;
}


.selected .fas.fa-headphones-alt {
    border-left: 3px solid green;
}