* {
    box-sizing: border-box;
}

.fab.fa-spotify {
    display: flex;
    size: 100px;
}

.fas.fa-home, .fas.fa-search, .fas.fa-headphones-alt {
    display: flex;
    padding: 15px;
    text-align: center;
    text-indent: 30px;
    text-align: center;
}

