* {
    box-sizing: border-box;
}

#featured-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: large;
    justify-content: center;
}

.artist-card {
    display: flex;
    width: 18%;
    
    height: auto;
    margin: 10px;
}

.artist-card div {
    display: flex;
    background-color: #282828;
    padding: 25px;
    flex-direction: column;
    height: 350px;
    border-radius: 30px;
}

img {
    max-width:100%;
    height:auto;
    border-radius: 100px;
}

h3 {
    margin-bottom: 1px;
}

p {
    margin-top: 1px;
}

.artist-card .play-button {
    display: none;
    flex-direction: row;
    align-self: flex-end;
    background-color: #21aa5f;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 30px;
}

.artist-card:hover .play-button {
    display: flex;
}